[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
requests = "*"
pandas = "*"
sklearn = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
lxml = "*"
pyyaml = "*"
"html5lib" = "*"
"beautifulsoup4" = "*"

[dev-packages]

[requires]
python_version = "3.7"
