[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
requests = "*"
pandas = "*"
sklearn = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
lxml = "*"
pyyaml = "*"
"html5lib" = "*"
"beautifulsoup4" = "*"
"flake8" = "*"
flask-restful = "*"
celery = {git = "https://github.com/celery/celery.git", ref = "master", editable = true}
redis = "*"
theano = "*"
raven = {version = "*", extras = ["flask"]}
gunicorn = "*"
blinker = "*"

[dev-packages]

[requires]
python_version = "3.7"
